{% extends 'base.html.twig' %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block stylesheets %}
    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    </style>
{% endblock %}

{% block body %}
    <form class="form-signin text-center" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% include 'partials/flash/msg_flash.html.twig' %}
        <h1 class="h3 mb-3 font-weight-normal">{% trans %}Login{% endtrans %}</h1>
        <label for="inputEmail" class="sr-only">{% trans %}Address mail or username{% endtrans %}</label>
        <input type="text" id="inputEmail" class="form-control" name="email" placeholder="Email ou username" value="{{ last_username }}" required="" autofocus="">
        <label for="inputPassword" class="sr-only">{% trans %}Password{% endtrans %}</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required="">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="flexbox flex-column flex-md-row mb-3">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me" name="_remember_me"> {% trans %}Remember{% endtrans %}
                </label>
            </div>
            <a class="text-muted hover-primary fs-13 mt-2 mt-md-0" href="{{ path('app_forgotten_password') }}">{% trans %}Forgot your password{% endtrans %}</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %}Login{% endtrans %}</button>
        <p class="mt-5 mb-3 text-muted text-center"><a href="{{ path('app_register') }}">{% trans %}Register{% endtrans %}</a></p>
    </form>
{% endblock %}
