{% extends 'base.html.twig' %}

{% block title %}Les rôles{% endblock %}

{% block body %}
    <div class="col-md-8 mx-auto">
        <button type="button" class="btn btn-outline-secondary mb-3" data-toggle="modal" data-target="#addNewRole">Ajouter un rôle</button>
        {% if roles %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Label</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Pas de rôle
            </div>
        {% endif %}
    </div>
    <div class="modal fade" id="addNewRole" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                {{ form_start(form, { 'attr': { 'class': 'json-form', 'enctype': 'multipart/form-data' } }) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% set formChildren = form.children %}
                    {% for input in formChildren %}
                        {% if input.vars.name not in ['_token'] %}
                            <div class="form-group">
                                {{ form_label(input) }}
                                {{ form_widget(input, { 'attr': { 'class': 'form-control' } }) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" role="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" role="button" class="btn btn-outline-success">Save</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block specific_javascripts %}
    <script src="{{ asset('build/js/json_form_utils.js') }}"></script>
{% endblock %}