{% extends 'list_layout.html.twig' %}

{% block filters %}
    <div class="col-12">
        <input type="text" name="label" class="form-control" placeholder="{{ 'label'|trans }}">
    </div>
{% endblock %}


{% set create_link_ajax = path('admin_role_manage') %}
{% set containAjaxForm = true %}

{% block table_header %}
    <th width="10" data-responsive-priority="0"></th>
    <th>{{ 'id'| trans }}</th>
    <th>{{ 'label'| trans }}</th>
    <th>{{ 'description'| trans }}</th>
    <th width="20">{{ 'list.actions'| trans }}</th>
{% endblock %}

{% block specific_javascripts %}
    {{ parent() }}
    {% include 'init_datatable_js.html.twig' %}
    <script>
        const fetchUrl = "{{ path('admin_role_fetch', {id: "__ID__"}) }}";
        var urlAjax ="{{ path('admin_role_index', {'_format': 'json'}) }}";
        const stateKey = "AdminRole";
        var editUrl = "{{ path('admin_role_manage', {'id':'__ID__'}) }}";
        var deleteUrl = "{{ path('admin_role_delete', {id:'__ID__'}) }}";
        var dataTableColumns = [
            {
                "data": function(){ return '';},
                "orderable": false,
                "searchable": false
            },
            {
                "name": "id",
                "data": "id",
                "visible": false
            },
            {
                "name": "label",
                "data": "label"
            },
            {
                "name": "description",
                "data": "description"
            },
            {
                "data": "id",
                "orderable": false,
                "render": function(data, type, row) {
                    return renderActionColumns(data, type, row);
                },
                "className": 'noVis'
            }
        ];
        initDataTable(true);
    </script>
{% endblock %}