{% extends 'base.html.twig' %}

{% block title %}Les rôles{% endblock %}

{% block body %}
    <div class="col-md-8 mx-auto">
        <div id="message"></div>
        <button type="button" class="btn btn-outline-secondary mb-3" data-toggle="modal" data-target="#addNewRole">Ajouter un rôle</button>
        {% if roles %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Label</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                        <tr>
                            <td>{{ role.id }}</td>
                            <td>{{ role.code }}</td>
                            <td>{{ role.label }}</td>
                            <td>{{ role.description }}</td>
                            <td>
                                <a href="#" id="edit" data-id="{{ role.id }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Pas de rôle
            </div>
        {% endif %}
    </div>
    {% include 'partials/modals/admin/newRole.html.twig' %}
{% endblock %}

{% block specific_javascripts %}
    <script>
        const showUrl = "{{ path('admin_role_fetch', {id: "__ID__"}) }}";
    </script>
    <script src="{{ asset('build/js/json_form_utils.js') }}"></script>
{% endblock %}